<section>
    <h1>About Me</h1>

    <p>帝都成长，华中求学，爱尔兰漂泊一年有余，就职于新浪微博。Google死忠</p>

    <p>Android开发工程师，曾开发微人脉客户端、WiFi胶卷，现在手机微博。</p>
    <p>Java开发工程师，曾开发Kuali Student开源项目，后负责微人脉后端开发。</p>

    <p>新浪微博：<a href="http://weibo.com/wodis">@讨厌茄子的老科特</a></p>
    
    <p>微信公众号：</p>
    <p><img src="/images/qrcode_for_androiddevtips.jpg"></p>
    
    <p>我的微信账号：</p>
    <p><img src="/images/weixin.jpg"></p>

    <p>Wu Di -- “ I am a programmer who principally focused on Android/Java design and development. Dual master's degree in telecommunication and software engineering. Graduated from Dublin City University and Wuhan University. Working in Beijing. ”</p>
</section>
